<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to The Music Collection</title>
  <link rel="shortcut icon" href="/images/music.png" type="image/x-icon" />
  <h1>Welcome to The Music Collection</h1>
</head>
