<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h2>
      Authorised Employees may use this website to edit, replace and delete
      Music Items. Changes must be first approved by the Lead Music Manager.
    </h2>
  </body>
  <%- include('./partials/footer.ejs') %>
  <link rel="stylesheet" href="/styles.css" />
</html>
