<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h2>Welcome to The Music Collection. <%= name %>.</h2>

    <div class="container">
      <img
        id="index-img"
        src="https://blog-media.byjusfutureschool.com/bfs-blog/2022/08/11054054/Article-Page-50.png"
        alt=""
      />
      <div id="home-div">
        <p>
          Authorised Employees may use this website to edit, replace and delete
          Music Items. Changes must be first approved by the Lead Music Manager.
        </p>
      </div>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
  <link rel="stylesheet" href="/styles/styles.css" />
</html>
