@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  height: 100%;
  padding: 20px;
  color: black;
  background: white;
  /*font-family: "Sedgwick Ave Display", cursive;*/
  font-family: "Space Grotesk", sans-serif;
  background-image: url("https://st2.depositphotos.com/1433253/8300/i/600/depositphotos_83006614-stock-photo-music-notes-bright-funky-background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg {
  height: 100%;
}

a:hover {
  color: B669C9;
}

nav {
  display: fixed;
  justify-content: space-between;
  margin-bottom: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 3px solid #ddd;
  text-transform: uppercase;
}
nav a {
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  margin-bottom: 20px;
}
h3 {
  text-transform: capitalize;
  margin-bottom: 6px;
}
.content {
  margin-left: 20px;
}

.create form {
  max-width: 400px;
  margin: 0 auto;
}
.create input,
.create textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.create button {
  margin-left: 140px;
  margin-top: 20px;
  background: crimson;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 8px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#json-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

#musicJsonBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f2d0eb;
  padding: 20px;
  width: 360px;
  border-radius: 10px;
  cursor: pointer;
  color: #831196;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#musicJsonBtn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}
#MusicJsonBtn:focus {
  background-color: #e4cee0;
}

#Music-json-pargraph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 700px);
}

#Music-json-pargraph p {
  text-align: center;
}
#post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f2d0eb;
  padding: 20px;
  width: 330px;
  border-radius: 10px;
  cursor: pointer;
  color: #831196;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#post-btn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

#post-btn:focus {
  background-color: #e4cee0;
}

#patch-btn {
  margin-left: 40px;
  border: none;
  background-color: #eaabdc;
  padding: 20px;
  width: 330px;
  border-radius: 10px;
  cursor: pointer;
  color: #831196;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#patch-btn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

#patch-btn:focus {
  background-color: #e4cee0;
}

#music-list {
  background-color: white;
  opacity: 90%;
  display: block;
  color: white;
  top: 136px;
  right: 30px;
  margin-left: 50x;
  margin-right: 500px;
  color: black;
  border-radius: 10px;
  padding-left: 2%;
}

#music-inputs {
  background-image: linear-gradient(240deg, #b669c9, #e4cee0 48%, #ee4dcb);
  position: absolute;
  text-align: center;
  display: grid;
  grid-gap: 5px;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  justify-items: left;
  color: white;
  top: 200px;
  right: 30px;
  margin-left: 50x;
  margin-right: 100px;
  left: 60rem;
  color: black;
  border-radius: 10px;
}

#new-item {
  margin-right: 80px;
}

#item-name {
  margin-right: 80px;
}
#item-price {
  margin-right: 38px;
}

#index-img {
  display: center;
  border-radius: 4px;
  height: 400px;
  width: 500px;
  margin-right: 50px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 40%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

footer {
  position: relative;
  align-items: end;
  bottom: 0px;
  color: black;
}
.Music Content {
  color: #f1f1f1;
}
#delete-btn {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f2d0eb;
  padding: 20px;
  width: 330px;
  border-radius: 10px;
  cursor: pointer;
  color: #831196;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#delete-btn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

#delete-btn:focus {
  background-color: #e4cee0;
}
